@import '../../style/variables.scss';

.input {

    position: relative;

    input {
        width: 100%;
        outline: none;
        border: none;
        padding: 12px 75px 14px 14px;
        background-color: transparent;
        font-size: 18px;
        border-bottom: 2px solid $dark-gray;
        color: $light-gray;
        transition: .2s;

        &:focus {
            border-bottom-color: $primary;
        }

    }

    .button {
        position: absolute;
        top: 0%;
        right: 15px;
    }
}