@import '../../style/variables.scss';

.container {
    max-width: 768px;
    margin: 0 auto;
    padding: 64px 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    display: grid;
    grid-template-columns: repeat(4, max-content);
    grid-column-gap: 32px;;
}

.logo {
    color: $primary;
    font-size: 48px;
    text-decoration: none;
}

.hr {
    border: none;
    border-top: 1px solid $dark-gray;
    margin: 36px 0;
}