@import '../../style/variables.scss';

.container {
    max-width: $screen-md;
    margin: 0 auto;
    padding: 64px 16px;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;

    @include media-query($screen-md) {
        flex-direction: row;
        justify-content: space-between;
        
        .menu {
            margin-top: 0;
        }
    }

    .menu {
        display: grid;
        grid-template-columns: repeat(3, max-content);
        grid-column-gap: 32px;;
        margin-top: 32px;
    }
}

.logo {
    color: $primary;
    font-size: 48px;
    text-decoration: none;
}

.hr {
    border: none;
    border-top: 1px solid $dark-gray;
    margin: 36px 0;
}