@import '../../style/variables.scss';

.container {
    
    @include media-query($screen-md) {
        padding: 0 112px;
    }

}

.title {
    font-size: 16px;
}

.todoList {
    margin-top: 64px;
}