@import '../../style/variables.scss';

.header {
    margin-bottom: 32px;
    
    .title {
        font-size: 16px;
        margin: 0 0 32px 0;
    }
    
    @include media-query($screen-md) {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0;
    }
}

.date_title {
    font-size: 16px;
    color: $primary;
    font-family: $Comfortaa;
    margin-bottom: 15px;
    font-weight: normal;
}

.content {
    padding-left: 32px;
}