@import '../../../style/variables.scss';

.menu_item {
    border-radius: 15px;
    padding: 12px;
    cursor: pointer;
    transition: 2s;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $dark-gray;
    font-size: 14px;
    color: white;
    text-decoration: none;
    
    span {
        display: none;        
    }
}

.active {
    
    width: auto;
    
    span {
        display: inline-block;
        margin-right: 16px;
    }
}