@import '../../../style/variables.scss';

.container {
    padding: 0 48px;
}

.text {
    font-family: $ABeeZee;
    font-style: italic;
    text-align: center;
    color: $primary;
}

.form {
    margin-top: 64px;
    padding: 0 64px;
}

.todo_options {
    display: flex;
    margin-top: 32px;

    > div {
        width: 50%;
    }
}

.day {
    background-color: $primary !important;
}

.title {
    font-size: 16px;
}

.todoList {
    margin-top: 64px;
}