@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&family=Comfortaa:wght@500&display=swap');

// Fonts

$Comfortaa: 'Comfortaa', cursive;
$ABeeZee: 'ABeeZee', sans-serif;

// Colors

$dark: #353b48;
$dark-gray: #62625F;
$light-gray: #C4C4C4;
$primary: #C6A567;

// Screen Sizes

$screen-md: 768px;

@mixin media-query($screen-size) {
    @media screen and (min-width: #{$screen-size}) {
        @content;
    }
}