@import '../../style/variables.scss';

.menu_item {
    color: $light-gray;
    text-decoration: none;
    transition: .2s;

    
    &:hover {
        color: $primary !important;
    }
}

.active {
    color: $primary;
}