.form {
    margin-top: 64px;
}

.todo_options {
    display: flex;
    margin-top: 32px;

    > div {
        width: 50%;
    }
}

.input {
    input {
        
        &:valid {
            border-bottom-color: #27ae60;
        }

        &:invalid:not(:placeholder-shown) {
            border-bottom-color: #FF6464;
        }
    }
}